@tailwind base;
@tailwind components;


@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: url('../src/fonts/AvantGarde-Bold.woff2') format('woff2'),
        url('../src/fonts/AvantGarde-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: url('../src/fonts/AvantGarde-Medium.woff2') format('woff2'),
        url('../src/fonts/AvantGarde-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvantGarde LT Cond';
    src: url('../src/fonts/AvantGardeLT-CondBold.woff2') format('woff2'),
        url('../src/fonts/AvantGardeLT-CondBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: url('../src/fonts/ITCAvantGardePro-Demi.woff2') format('woff2'),
        url('../src/fonts/ITCAvantGardePro-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



body {@apply font-body;}

input, select {@apply text-sm;}

.dropdown-menu {
    @apply relative;
}
.dropdown-menu:hover .dropdown{
    @apply block;
}


.title-bar-top{@apply bg-no-repeat bg-auto;height: 30px;background-image: url(../src/images/title-top-bar.png);background-position: 0px 0px;}
.title-bar-bottom {@apply bg-no-repeat bg-auto;height: 30px;background-image: url(../src/images/title-bottom-bar.png);background-position: 0px 0px;}

.title-bar-top.antrieb{background-image: url(../src/images/title-top-bar-antrieb.png);}
.title-bar-bottom.antrieb {background-image: url(../src/images/title-bottom-bar-antrieb.png);}

.title-bar-top.autofit{background-image: url(../src/images/title-top-bar-autofit.png);}
.title-bar-bottom.autofit {background-image: url(../src/images/title-bottom-bar-autofit.png);}

.title-bar-top.autodienst{background-image: url(../src/images/title-top-bar-autodienst.png);}
.title-bar-bottom.autodienst {background-image: url(../src/images/title-bottom-bar-autodienst.png);}

.title-bar-top.autoglas{background-image: url(../src/images/title-top-bar-autoglas.png);}
.title-bar-bottom.autoglas {background-image: url(../src/images/title-bottom-bar-autoglas.png);}

.title-bar-top.klima{background-image: url(../src/images/title-top-bar-klima.png);}
.title-bar-bottom.klima {background-image: url(../src/images/title-bottom-bar-klima.png);}

.title-bar-top.turbolader{background-image: url(../src/images/title-top-bar-turbolader.png);}
.title-bar-bottom.turbolader {background-image: url(../src/images/title-bottom-bar-turbolader.png);}



.swiper-button-next:after, .swiper-button-prev:after {
    @apply text-2xl font-bold text-black;
}



.search-fields {@apply pl-12 pr-4 py-4 w-full shadow-2 border outline-none border-secondary-6 focus:border-blue-600 bg-no-repeat; height:50px; background-position: left 15px center;}
.search-checkbox {@apply mb-1 md:mb-2;}
.search-checkbox span {@apply ml-1.5 py-2 h-10 inline-block bg-auto;}
.search-checkbox input {@apply absolute hidden;}
.search-checkbox i {@apply inline-block h-5 w-5;vertical-align: middle;padding-right: 5px;background-image: url("../src/images/checkbox.png"); } 
.search-checkbox input:checked + i {background-position: 0 -20px;}

#toggle-header:before {content:'';@apply inline-block w-10 bg-no-repeat h-5 bg-auto;background-position: 0px 50%;vertical-align: middle; background-image:url(../src/images/werkstatt-icon.png)}


.checkbox-small {@apply text-secondary-1 mt-2.5 mb-1.5; font-size:13px;}
.checkbox-small label {}
.checkbox-small label span {@apply text-[13px] ml-1 inline-block text-ellipsis overflow-hidden align-top w-4/5; width: calc(100% - 25px);}
.checkbox-small label input {@apply absolute hidden;}
.checkbox-small label i {@apply inline-block;height:15px; width:15px; vertical-align: middle;padding-right: 5px;background-image: url("../src/images/checkbox-small.png"); } 
.checkbox-small label input:checked + i {background-position: 0 -15px;}

.dropdown-arrow .toggle {@apply bg-no-repeat; background-image:url(../src/images/icon-arrow.svg); background-size:16px; background-position:right 5px center;}
.dropdown-arrow .toggle.opened {@apply text-primary;}

#toggleHeaderWerkstet:before {@apply h-9 w-8 inline-flex bg-no-repeat bg-left mr-1; content:''; background-image: url(../src/images/werkstatt-icon.png);}
#toggleHeaderKfz:before {@apply h-9 w-8 inline-flex bg-no-repeat bg-left mr-1; content:''; background-image: url(../src/images/kfz-teile-icon.png);}

#toggleHeaderWerkstet.opened:before {background-image: url(../src/images/werkstatt-icon-red.png);}
#toggleHeaderKfz.opened:before {background-image: url(../src/images/icon-kfzteile-red.png);}


#clearFilters:after, #clearFilters1:after {content:' verfeinern';}
#clearFilters.filters-opened:after, #clearFilters1.filters-opened:after {content:' zurücksetzen';}


/* Accordian */

.accordion-heading {@apply text-sm text-secondary-5 mb-2; }
.accordion {@apply border-t border-secondary-6;}
.accordion-trigger {@apply appearance-none pt-2 pb-4 outline-none text-sm cursor-pointer border-0 border-b border-secondary-6 w-full text-left m-0 relative font-bold;transition: 0.3s ease;}
.accordion-trigger::after {content: "";position: absolute;right: 0;top: calc(50% - 5px);width: 0;height: 0;border-left: 8px solid transparent;border-right: 8px solid transparent;border-top: 8px solid #aaa;transform: rotate(0deg);transform-origin: center;transition: transform 0.5s;}
.accordion-trigger[aria-expanded="true"]::after {transform: rotate(180deg);}
.accordion-copy {@apply overflow-hidden text-sm text-secondary-5 max-h-0; visibility: hidden;transition: visibility 0.5s, padding 0.5s, max-height 0.5s;}
.accordion-copy--open {@apply border-0 border-b border-secondary-6 mb-2; visibility: visible;}

@media (min-width: 540px) {
    .container-head {font-size: 2rem;}
}


.icon-address:before {content:''; background:url(../src/images/icon-location.svg); @apply block absolute bg-no-repeat bg-center opacity-70 w-3 h-3 left-0; top:3px;}
.icon-telephone:before {content:''; background:url(../src/images/icon-phone.svg); @apply block absolute bg-no-repeat bg-center opacity-70 w-3 h-3 left-0; top:3px;}
.icon-email:before {content:''; background:url(../src/images/icon-email.svg); @apply block absolute bg-no-repeat bg-center opacity-70 w-3 h-3 left-0; top:3px;}
.icon-web:before {content:''; background:url(../src/images/icon-web.svg); @apply block absolute bg-no-repeat bg-center opacity-70 w-3 h-3 left-0; top:3px;}
.icon-fax:before {content:''; background:url(../src/images/icon-fax.svg); @apply block absolute bg-no-repeat bg-center opacity-70 w-3 h-3 left-0; top:3px;}
.icon-partner:before {content:''; background:url(../src/images/icon-partner.svg); @apply block absolute bg-no-repeat bg-center opacity-70 w-3 h-3 left-0; top:3px;}
.icon-facebook:before {content:''; background:url(../src/images/icon-facebook.svg); @apply block absolute bg-no-repeat bg-center opacity-70 w-3 h-3 left-0; top:3px;}


/* Tooltip */
.tooltip {@apply relative;}
.tooltip:hover:after{@apply absolute bottom-[115%] flex justify-center rounded-md leading-tight text-secondary-2 text-[13px] p-2 w-44 shadow-1 text-left bg-secondary-6;content: attr(title);margin: -82px auto 0;}
.tooltip:hover:before{@apply absolute bottom-[102%];border: solid;border-color: #bbb transparent;border-width: 6px 4px 0 4px;content: "";left: 45%;}


.flex-0-auto {flex: 0 0 auto;}

input.icon-name, textarea.icon-name {@apply bg-no-repeat; background-image:url(../src/images/icon-vorname.png); background-position: left 12px center; }
input.icon-address, textarea.icon-address {@apply bg-no-repeat; background-image:url(../src/images/icon-strasse.png); background-position: left 12px center; }
input.icon-plz, textarea.icon-plz {@apply bg-no-repeat; background-image:url(../src/images/icon-plz.png); background-position: left 12px center; }
input.icon-phone, textarea.icon-phone {@apply bg-no-repeat; background-image:url(../src/images/icon-phone.png); background-position: left 12px center; }
input.icon-comment, textarea.icon-comment {@apply bg-no-repeat; background-image:url(../src/images/icon-nachricht.png); background-position: left 12px top 12px; }
input.icon-password, textarea.icon-password {@apply bg-no-repeat; background-image:url(../src/images/icon-passwort.png); background-position: left 12px top 12px; }


#toggleMenu.opened .icon-bars {display:none;}
#toggleMenu.opened .icon-close {display:block !important;}

@media(max-width:992px){
    .mobile-search-opened .mobile-search-box{@apply block absolute top-20 md:top-[106px] md:border-t md:border-gray-200 z-50 w-full;}
}


.news-items li {@apply hidden pt-2.5;}
.news-items li.active {@apply flex;}


.pagination {@apply flex flex-wrap items-start;}
.pagination li {@apply mr-1.5;}
.pagination a {@apply w-5 h-5 text-center hover:bg-primary hover:text-white text-xs bg-secondary-6 text-secondary-5 inline-block leading-[20px];}
.pagination .current span {@apply w-5 h-5 text-center text-xs bg-primary text-white inline-block leading-[20px];}



.autodienst-search {@apply relative;}
.autodienst-search:before {content: '';position: absolute;top: 0;right: 10px;border-left: 110px solid transparent;border-right: 110px solid transparent;border-top: 110px solid #DB3024;}

@media (max-width:1024px) {
    .autodienst-search:before {border-left: 80px solid transparent;border-right: 80px solid transparent;border-top: 80px solid #DB3024;}
}


#tabs li.active:after, #tabs li.active:before  {content: '';position: absolute;width: 1000px;right: 100%;bottom: -1px;border-bottom: 1px solid #d4d4d4;z-index: 2;}
#tabs li.active:after {left:100%; right:auto}


@media (max-width:475px) {
    #tabs li {order:0} 
    #tabs li.active {order:1}

    
    .title-bar-top, .title-bar-bottom {
        background-position: -120px 0;
    }
}

@tailwind utilities;