@charset "UTF-8";
/* CSS Document * Varun Dewan 2019 */

.drop {position: relative;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.drop.open {z-index: 100;}
.drop.open .drop-display:before {border-radius:50%;border: 1px solid #565656;color: #565656;text-align: center;background: #fff;content: "×";display: inline-block;z-index: 999999;position: absolute;top: -10px;right: -10px;line-height: 22px;font-size: 18px;width: 22px;height: 22px;cursor: pointer;}
.drop.open .drop-screen {z-index: 100;display: block;}
.drop.open .drop-options {z-index: 200;max-height: 200px;border: 1px solid #aaa;}
.drop.open .drop-display {z-index: 200;}
.drop select {display: none;}
.drop .drop-screen {position: fixed;width: 100%;height: 100%;background: #000;top: 0px;left: 0px;opacity: 0;display: none;z-index: 1;}

.link {text-align: center;margin: 20px 0px;color:#8CACD7;}


.drop .drop-display {position: relative;padding: 13px 0 12px 50px;width: 100%;border: 1px solid #c9c9c9;box-shadow: rgb(0,0,0,0.20) 1px 1px 3px 0px inset;background: #FFF;z-index: 1;margin: 0;font-size: 14px;min-height: 50px;}
.drop .drop-display {background-image:url(images/wrench-icon.png); background-repeat:no-repeat; background-position:left 15px center; }
.drop .drop-display > div {display:flex; flex-wrap:wrap; align-items:center; }
.drop .drop-display > div:before {content:"spezialisiert auf: "; margin-right:7px;}
.drop .drop-display:hover:after {opacity: 0.75;}
.drop .drop-display .item {position: relative;font-family:arial;font-weight:bold;display: inline-block;margin: 0 5px 0 0;padding: 0 0 0 16px;overflow: hidden;line-height: 23px;color: #555;}
.drop .drop-display .item .btnclose {font-size:0;color: #444;position: absolute;left: 0;top: 0;padding: 0 5px;line-height: 23px;height: 23px;cursor: pointer;}
.drop .drop-display .item .btnclose:before {content:'X'; font-weight:normal;font-style: normal; font-size:10px;}
.drop .drop-display .item .btnclose:hover {opacity: 0.75;}
.drop .drop-display .item .btnclose[data-index="0"] {display: none;}
.drop .drop-display .item.remove {-webkit-animation: removeSelected 0.2s, hide 1s infinite;  animation: removeSelected 0.2s, hide 1s infinite;-webkit-animation-delay: 0s, 0.2s;  animation-delay: 0s, 0.2s;}
.drop .drop-display .item.add {-webkit-animation: addSelected 0.2s;  animation: addSelected 0.2s;}
.drop .drop-display .item.add[data-index="0"] {padding-left:5px; padding-right:5px;}
.drop .drop-display .item.hide {display: none;}
.drop .drop-options {background: #fff;position: absolute;border-radius: 0 0 4px 4px;width: 100%;max-height: 0px;overflow-y: auto;transition: all 0.25s linear;z-index: 1;}
.drop .drop-options a {display: flex;align-items:center;padding: 5px 6px;height: 32px;color: #555;position: relative;font-family: arial;transition: all 1s;overflow: hidden;font-size: 14px;font-weight: bold;}
/* .drop .drop-options a:before {content:''; height:12px;width:12px; border:1px solid #888; display:inline-block;margin-right:10px;} */
.drop .drop-options a:nth-child(2) {color:#007eb0;}
.drop .drop-options a:nth-child(3) {color:#e36302;}
.drop .drop-options a:nth-child(4) {color:#B8C0D5;}
.drop .drop-options a:nth-child(5) {color:#be9b00;}
.drop .drop-options a:hover {background: #ddd;cursor: pointer;}
/* .drop .drop-options a.hide, .drop .drop-options a.remove {pointer-events: none;} */
.drop .drop-options a:before {content:'';display: inline-block;height:15px;width:15px;vertical-align: middle; margin-right:5px; padding-right: 5px;background-image: url("../src/images/checkbox-small.png");}

.drop .drop-options a.hide:before, .drop .drop-options a.remove:before {
background-position: 0 -15px;
}
.drop .drop-options a.add {-webkit-animation: addOption 0.2s;  animation: addOption 0.2s;}
.drop .drop-options a.selected-true:before {background:#555;}


@-webkit-keyframes pop {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes removeOption {
  from {
    max-height: 40px;
  }
  to {
    max-height: 0px;
  }
}
@keyframes removeOption {
  from {
    max-height: 40px;
  }
  to {
    max-height: 0px;
  }
}
@-webkit-keyframes addOption {
  from {
    max-height: 0px;
  }
  to {
    max-height: 40px;
  }
}
@keyframes addOption {
  from {
    max-height: 0px;
  }
  to {
    max-height: 40px;
  }
}
@-webkit-keyframes removeSelected {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes removeSelected {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes addSelected {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes addSelected {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes hide {
  from, to {
    max-height: 0px;
    max-width: 0px;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
  }
}
@keyframes hide {
  from, to {
    max-height: 0px;
    max-width: 0px;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
  }
}
